[submodule "ae"]
	path = ae
	url = git://github.com/CyberShadow/ae.git
[submodule "dcaptcha"]
	path = dcaptcha
	url = https://github.com/CyberShadow/dcaptcha
[submodule "dlang.org"]
	path = dlang.org
	url = https://github.com/D-Programming-Language/dlang.org
