# Temporary files
*.exe
*.o
*.obj
*.def
!ws2_32x.def
*.ksp
*.pdb
*.rsp
*.map
*.mem
*.suo
*-opt

# Data, logs and configuration
/data/
/logs/
/config/*.ini

# Binaries
dfeed
dfeed_web
mldownload
nntpdownload
rebuilddb
sanitizedb
