# Temporary files
*.exe
*.o
*.obj
*.def
!ws2_32x.def
*.ksp
*.pdb
*.rsp
*.map
*.mem
*.suo
*.ilk
*.min.*
*.jar
/dfeed.json

/core
/bad-zlib.z
/bad-base64.txt
/feed-error.xml
/so-error.txt

# Data, logs and configuration
/data/
/logs/
/build.local
/site/

# Binaries
/dfeed
/dfeed_web
/mldownload
/nntpdownload
/rebuilddb
/rebuildthreads
/sanitizedb
/sendspamfeedback
/unban
/bayes-checkall
/bayes-checkdatum
/bayes-prepdata
/bayes-train
/*-test-application
/src/dfeed/progs/*
!/src/dfeed/progs/*.d
result

# Deimos
/deimos/openssl/
