# Temporary files
*.exe
*.o
*.obj
*.def
!ws2_32x.def
*.ksp
*.pdb
*.rsp
*.map
*.mem
*.suo
*.ilk
*-opt

/core
/bad-zlib.z
/bad-base64.txt
/feed-error.xml
/so-error.txt

# Logs and configuration
/data/
/logs/

# Binaries
/dfeed
/dfeed_web
/mldownload
/nntpdownload
/rebuilddb
/rebuildthreads
/sanitizedb
/sendspamfeedback

# Deimos
/deimos/
