[submodule "ae"]
	path = ae
	url = git://github.com/CyberShadow/ae.git
[submodule "dcaptcha"]
	path = dcaptcha
	url = https://github.com/CyberShadow/dcaptcha
[submodule "deimos-openssl"]
	path = deimos-openssl
	url = https://github.com/D-Programming-Deimos/openssl
