# Optional additional cookie-less domain used for static resources.
# Should not be a subdomain of the main domain.
#staticDomain = example-static.com

# HTTP socket parameters.
[listen]

# Network address to bind to. By default, binds on all interfaces.
# addr = 127.0.0.1

# Port to listen on.
port = 80
