# Optional additional cookie-less domain used for static resources.
# Should not be a subdomain of the main domain.
#staticDomain = example-static.com

# Whether this instance should be indexed by search engines
# (or crawled by other web spiders).
# This affects what is served in robots.txt.
# The default is false.
#indexable = true

# HTTP socket parameters.
[listen]

# Network address to bind to. By default, binds on all interfaces.
# addr = 127.0.0.1

# Port to listen on.
port = 80
