
/*************** Font size / side menu ***************/

/* narrow pages (most views) */

@media screen and (max-width: 1120px) {
	/* scale to 7/8 */
	body.narrowdoc .post-text        { font-size: 12px; }
	body.narrowdoc #forum-content    { font-size: 0.875em; }
	body.narrowdoc #group-split-list { width: 350px; }

	body.narrowdoc #forum-content input[type="submit"] { font-size: 11px; }
}

@media screen and (max-width: 1020px) {
	/* hide dlang.org sidebar */
	body.narrowdoc #navigation       { display: none; }
	body.narrowdoc #content          { margin-left: 1.5em !important; }
}

@media screen and (max-width: 880px) {
	/* scale to 4/3 */
	body.narrowdoc .post-text        { font-size: 11px; }
	body.narrowdoc #forum-content    { font-size: 0.75em; }
	body.narrowdoc #group-split-list { width: 300px; }
}

/* wide pages (split-mode view) */

@media screen and (max-width: 1350px) {
	/* hide dlang.org sidebar */
	body.widedoc #navigation       { display: none; }
	body.widedoc #content          { margin-left: 1.5em !important; }
}

@media screen and (max-width: 1170px) {
	/* scale to 7/8 */
	body.widedoc .post-text        { font-size: 12px; }
	body.widedoc #forum-content    { font-size: 0.875em; }
	body.widedoc #group-split-list { width: 350px; }

	body.widedoc #forum-content input[type="submit"] { font-size: 12px; }
}

@media screen and (max-width: 1040px) {
	/* scale to 4/3 */
	body.widedoc .post-text        { font-size: 11px; }
	body.widedoc #forum-content    { font-size: 0.75em; }
	body.widedoc #group-split-list { width: 300px; }
}

/* reply page */

@media screen and (max-width: 950px) {
	/* hide dlang.org sidebar */
	body.formdoc   #navigation       { display: none; }
	body.formdoc   #content          { margin-left: 1.5em !important; }
}


/*************** Title / Breadcrumbs ***************/

#top {
	position: relative;
}

#breadcrumbs {
	color: white;
	position: absolute;
	top: 20px;
	left: 210px;
	right: 220px;
	font-size: 1.7em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#breadcrumbs a {
	color: inherit;
	text-decoration: none;
}

#breadcrumb1,
#breadcrumb2 {
	color: #ccc;
	font-size: 60%;
}

#breadcrumb1 {
	margin-left: 20px;
}
#breadcrumb2 {
	margin-left: 40px;
	font-variant: normal;
}

/*************** Tool links ***************/

#forum-tools {
	text-align: right;
	font-size: 80%;
	font-style: italic;
	margin: -13px 0 4px 0;
	color: #666;
}
#forum-tools a {
	color: inherit;
}

/*************** General rules ***************/

#forum-content {
	position: relative;
}

#forum-content table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

#forum-content input[type=submit] {
	margin: 0; /* for Chrome */
}

.temphide {
	display: none;
}

/* A forum-table has a gray header and borders */

.forum-table {
	border: 2px solid #D0D0D0;
}

.forum-table > tbody > tr > th {
	background-color: #D0D0D0;
}

.forum-table > tbody > tr.subheader > th {
	background-color: #E8E8E8;
}

.forum-table > tbody > tr > td,
.forum-table > tbody > tr > th {
	padding: 4px;
	border: 1px solid #D0D0D0;
}

.number-column {
	font-size: 90%;
	text-align: center;
}

.forum-postsummary-author {
	color: #444;
}

#forum-content a img {
	border: none;
}

/* Read/unread messages */

.forum-unread,
.forum-unread:visited {
	font-weight: bold;
}
.forum-read,
.forum-read:visited {
	font-weight: normal;
}

th .forum-unread,
th .forum-unread:visited {
	color: #333;
}
th .forum-read,
th .forum-read:visited {
	color: black;
}

/* Use a thinner font for the split-mode index */

.viewmode-horizontal-split {
	font-family: 'Open Sans', Verdana, 'Deja Vu', 'Bitstream Vera Sans', sans-serif;
}

/* "Create thread" button */

.header-tools {
	position: absolute;
	top: 3px;
	right: 3px;
}

/* Pager */

.pager th {
	font-weight: normal;
}
.pager-left {
	float: left;
}
.pager-right {
	float: right;
}
.disabled-link {
	color: #666;
}

/* Forms */

.forum-form input,
.forum-form textarea {
	font-size: inherit;
}

.post-form label,
.forum-form input[type=submit] {
	margin-top: 10px !important;
	display: block;
}

.form-error {
	border: 2px dotted red;
	color: red;
	padding: 10px;
	margin-bottom: 10px;
}

/* Notice */

.forum-notice {
	border: 2px solid #E0E0A0;
	background-color: #FFFFD8;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
}

/*************** Discussion index ***************/

#forum-index > tbody > tr > td:nth-child(even) {
	background-color: #F0F0F0;
}

.forum-index-description {
	color: #444;
}

.forum-index-description,
.forum-index-col-lastpost {
	font-size: 90%;
}

.forum-postsummary-time {
	display: block;
	text-align: right;
}

/*************** Group index ***************/

#group-index > tbody > tr > td:nth-child(even) {
	background-color: #F0F0F0;
}

.group-index-col-first {
	width: 70%;
}

.group-index-col-last {
	font-size: 90%;
	text-align: right;
}

/*************** Thread view, individual posts ***************/

#forum-content > .post-wrapper:first-child > .post {
	margin-top: 0;
}
.post-wrapper {
	position: relative;
}
.post {
	margin-top: 10px;
}

.post > tbody > tr > td {
	vertical-align: top;
	padding: 10px;
}

/* Header */

.post-header > th {
	text-align: left;
}
.post-header a {
	text-decoration: none;
	color: inherit;
}
.post-header a:hover {
	text-decoration: underline;
}
.post-time {
	float: right;
	font-weight: normal;
}

/* Info */

.post-info {
	width: 20%;
	background-color: #F0F0F0;
	font-size: 85%;
	word-wrap: break-word;
}
.post-author {
	font-weight: bold;
	font-size: 130%;
}
.post-gravatar {
	margin-top: 4px;
	border: 5px solid #D0D0D0 !important;
}
.post-info > hr {
	border: 1px solid #D0D0D0;
	border-bottom: none;
	margin: 6px 0;
}
.post-info-bit {
	margin-bottom: 12px;
}
ul.post-info-parts {
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
}
.post-actions {
	position: absolute;
	bottom: 12px;
}
.actionlink {
	display: block;
	white-space: pre;
}
.actionlink img {
	vertical-align: middle;
	margin-right: 5px;
}

/* Body */

.post-error {
	color: red;
}
.post-text {
	margin: 0;
	font-family: Consolas, monospace;
	font-size: 14px;
	white-space: pre; /* old browser compat */
	white-space: pre-wrap;
	word-wrap: break-word;
}

.forum-quote {
	color: #706666;
}

.forcewrap {
	word-break: break-all;
}

/* Threading */

.post-nester {
	border-collapse: collapse;
	width: 100%;
}

.post-nester > tbody > tr > td {
	padding: 0;
}

.post-nester-bar {
	position: relative;
	width: 10px;
	vertical-align: top;

	background: url('/images/nestgrad.png');
}

.post-nester-bar a {
	display: block;
	position: absolute;
	width: 10px;

	top: 0;
	bottom: 0;
	border-bottom: 1px solid #D0D0D0;
}

/* Pager */

.post-pager {
	margin-top: 10px;
}

/*************** Threaded group view ***************/

.forum-table > tbody > tr > td.group-threads-cell {
	padding: 2px 0 0 0;
}

.group-threads > table {
	width: 100%;
}
.group-threads > table > tbody > tr > td {
	border-bottom: none;
	padding-bottom: 1px;
	padding-left: 2px !important;
	padding-right: 2px;
}
.thread-start {
	border: 2px solid #D0D0D0;
	margin-bottom: 1px;
}
.thread-start > tbody > tr > th {
	background-color: #D0D0D0;
}
.thread-start > tbody > tr > td > div {
	padding-right: 2px;
}

.thread-start > tbody > tr:nth-child(odd) {
	background-color: #F6F6F6;
}
.thread-start > tbody > tr:nth-child(even) {
	background-color: white;
}
.thread-start td {
	text-align: left;
}
.thread-post-time {
	float: right;
}

.thread-post-focused > td > div {
/*
	outline: 1px dotted #45F !important;
*/
	outline: 1px solid #89F !important;
	background-color: #EEF;
}

.thread-post-selected > td > div {
	background-color: #45F;
	color: white;
}

.thread-post-selected a {
	color: inherit;
}

.thread-post-selected .thread-post-time span {
	color: inherit !important;
}

#thread-index {
	margin-top: 20px;
}

/*************** Split view ***************/

#group-split {
	table-layout: fixed;
}
#group-split-list {
	width: 400px;
	vertical-align: top;
}
#group-split-list > div {
	position: relative;
}

#group-split-message {
	padding-left: 4px;
	vertical-align: top;
	overflow: auto;
}

#group-split-message .nojs {
	margin-top: 10px;
}

.viewmode-horizontal-split .group-threads {
	height: 400px;
	overflow: auto;
}

.split-post {
	table-layout: fixed;
}

.split-post .post-body {
	padding: 10px;
}

.split-post .post-text {
	overflow: auto;
}

.split-post {
}

.split-post-avatar {
	padding-left: 5px;
	padding-bottom: 2px;
	border-right: none !important;
	width: 1px;
}

.split-post-info {
	border-left: none !important;
	background-color: #E8E8E8;
	font-size: 0.9em;
}

.split-post-info-name {
	text-align: right;
	font-weight: bold;
	padding: 0 10px;
	white-space: pre;
	width: 60px;
}

.split-post .forum-unread {
	/* this just looks confusing and distracting */
	font-weight: inherit;
}

.split-post-actions {
	vertical-align: bottom;
	text-align: right;
}

.group-split-message-none {
	text-align: center;
	vertical-align: middle !important;
	white-space: pre;
}

body.widedoc #content,
body.widedoc #top {
	max-width: none !important;
}

#keyboardhelp {
	width: auto !important;
	margin: 0 auto;
}
#keyboardhelp td {
	padding-top: 10px;
}
#keyboardhelp td:first-child {
	text-align: right;
	padding-right: 10px;
}
#keyboardhelp td:last-child {
	text-align: left;
}
kbd { /* stolen from http://en.wikipedia.org/wiki/Template:Key_press */
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-bottom-width: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	padding: 1px 3px;
	font-family: inherit;
	font-size: 0.9em;
	white-space: nowrap;

	display: inline-block;
	text-align: center;
	min-width: 1em;
	margin: 0 1px;
	background-color: white;
	font-family: "Arial Unicode MS","Microsoft Sans Serif","Free Sans","Gentium Plus","Gentium Basic","Gentium","GentiumAlt","DejaVu Sans","DejaVu Serif","Free Serif","TITUS Cyberbit Basic","Bitstream Cyberbit","Bitstream CyberBase","Doulos SIL","Code2000","Code2001";
}

/*************** Posting ***************/

#postform-captcha {
	margin-top: 10px;
}

.formdoc #content {
	display: inline-block;
	margin-left: 0 !important;
}

/*************** Login ***************/

.loginform {
	width: 320px;
	margin: 70px auto 0 auto;
}

.loginform-error {
	margin: 0 !important;
}

.loginform-cell {
	padding: 30px 80px !important;
}

.loginform-info {
	text-align: center;
}

/*************** Misc views ***************/

.forum-no-data {
	text-align: center;
}

.forum-table-message {
	text-align: center;
	padding: 50px 0 !important;
}

.forum-table-message pre {
	text-align: left;
	font-size: 8pt;
	margin: 50px 30px 0 30px;
}
