
/*************** Title / Breadcrumbs ***************/

#breadcrumbs {
	color: white;
	position: absolute;
	top: 20px;
	left: 210px;
	font-size: 1.7em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
}

#breadcrumbs a {
	color: inherit;
	text-decoration: none;
}

#breadcrumb1,
#breadcrumb2 {
	color: #ccc;
	font-size: 12pt;
}

#breadcrumb1 {
	margin-left: 20px;
}
#breadcrumb2 {
	margin-left: 40px;
	font-variant: normal;
}

/*************** Tool links ***************/

#forum-tools {
	text-align: right;
	font-size: 11px;
	font-style: italic;
	margin: -13px 0 4px 0;
	color: #666;
}
#forum-tools a {
	color: inherit;
}

/*************** General rules ***************/

#forum-content {
	position: relative;
}

#forum-content table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

#forum-content input[type=submit] {
	margin: 0; /* for Chrome */
}

/* A forum-table has a gray header and borders */

.forum-table {
	border: 2px solid #D0D0D0;
}

.forum-table > tbody > tr > th {
	background-color: #D0D0D0;
}

.forum-table > tbody > tr.subheader > th {
	background-color: #E8E8E8;
}

.forum-table > tbody > tr > td,
.forum-table > tbody > tr > th {
	padding: 4px;
	border: 1px solid #D0D0D0;
}

.number-column {
	font-size: 10pt;
	text-align: center;
}

.forum-postsummary-author {
	color: #444;
}

/* Read/unread messages */

.forum-unread,
.forum-unread:visited {
	font-weight: bold;
}
.forum-read,
.forum-read:visited {
	font-weight: normal;
}

th .forum-unread,
th .forum-unread:visited {
	color: #333;
}
th .forum-read,
th .forum-read:visited {
	color: black;
}

/* "Create thread" button */

.header-tools {
	position: absolute;
	top: 3px;
	right: 3px;
}

/* Pager */

.group-index-pager th {
	font-weight: normal;
}
.pager-left {
	float: left;
}
.pager-right {
	float: right;
}
.disabled-link {
	color: #666;
}

/*************** Discussion index ***************/

#forum-index > tbody > tr > td:nth-child(even) {
	background-color: #F0F0F0;
}

.forum-index-description {
	color: #444;
}

.forum-index-description,
.forum-index-col-lastpost {
	font-size: 10pt;
}

.forum-postsummary-time {
	display: block;
	text-align: right;
}

/*************** Group index ***************/

#group-index > tbody > tr > td:nth-child(even) {
	background-color: #F0F0F0;
}

.group-index-col-first {
	width: 70%;
}

.group-index-col-last {
	font-size: 10pt;
	text-align: right;
}

/*************** Thread view, individual posts ***************/

#forum-content > .post-wrapper:first-child > .post {
	margin-top: 0;
}
.post-wrapper {
	position: relative;
}
.post {
	margin-top: 10px;
}

.post > tbody > tr > td {
	vertical-align: top;
	padding: 10px;
}

/* Header */

.post-header > th {
	text-align: left;
}
.post-header a {
	text-decoration: none;
	color: inherit;
}
.post-header a:hover {
	text-decoration: underline;
}
.post-time {
	float: right;
	font-weight: normal;
}

/* Info */

.post-info {
	width: 20%;
	background-color: #F0F0F0;
	font-size: 9pt;
	word-wrap: break-word;
}
.post-author {
	font-weight: bold;
	font-size: 11pt;
}
.post-gravatar {
	margin-top: 4px;
	border: 5px solid #D0D0D0;
}
.post-info > hr {
	border: 1px solid #D0D0D0;
	border-bottom: none;
	margin: 6px 0;
}
.post-info-bit {
	margin-bottom: 12px;
}
ul.post-info-parts {
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
}
.post-toolbar {
	position: absolute;
	bottom: 12px;
}

/* Body */

.post-error {
	color: red;
}
.post-text {
	font-family: Consolas, monospace;
	font-size: 14px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.forum-quote {
	color: #706666;
}

/* Threading */

.post-nester {
	border-collapse: collapse;
	width: 100%;
}

.post-nester > tbody > tr > td {
	padding: 0;
}

.post-nester-bar {
	position: relative;
	width: 10px;
	vertical-align: top;

	background: url('/images/nestgrad.png');
}

.post-nester-bar a {
	display: block;
	position: absolute;
	width: 10px;

	top: 0;
	bottom: 0;
	border-bottom: 1px solid #D0D0D0;
}

/*************** Threaded group view ***************/

.forum-table > tbody > tr > td.group-threads-cell {
	padding: 2px 0 0 0;
}

.group-threads > table {
	width: 100%;
}
.group-threads > table > tbody > tr > td {
	border-bottom: none;
	padding-bottom: 1px;
	padding-left: 2px !important;
	padding-right: 2px;
}
.thread-start {
	border: 2px solid #D0D0D0;
	margin-bottom: 1px;
}
.thread-start > tbody > tr > th {
	background-color: #D0D0D0;
}
.thread-start > tbody > tr > td > div {
	padding-right: 2px;
}

.thread-start > tbody > tr:nth-child(odd) {
	background-color: #F6F6F6;
}
.thread-start > tbody > tr:nth-child(even) {
	background-color: white;
}
.thread-start td {
	text-align: left;
}
.thread-post-time {
	float: right;
}

.thread-post-focused > td > div {
/*
	outline: 1px dotted #45F !important;
*/
	outline: 1px solid #89F !important;
	background-color: #EEF;
}

.thread-post-selected > td > div {
	background-color: #45F;
	color: white;
}

.thread-post-selected a {
	color: inherit;
}

/*************** Split view ***************/

#group-split {
	table-layout: fixed;
}
#group-split-list {
	width: 400px;
	vertical-align: top;
}
#group-split-list > div {
	position: relative;
}

#group-split-message {
	padding-left: 4px;
	vertical-align: top;
	overflow: auto;
}

.viewmode-horizontal-split .group-threads {
	height: 400px;
	overflow: auto;
}

.split-post {
	table-layout: fixed;
}

.split-post .post-body {
	padding: 10px;
}

.split-post .post-text {
	overflow: auto;
}

.split-post {
}

.split-post-avatar {
	padding-left: 5px;
	padding-bottom: 2px;
	border-right: none !important;
	width: 1px;
}

.split-post-info {
	border-left: none !important;
	background-color: #E8E8E8;
	font-size: 0.9em;
}

.split-post-info-name {
	text-align: right;
	font-weight: bold;
	padding: 0 10px;
	white-space: pre;
	width: 60px;
}

.group-split-message-none {
	text-align: center;
	vertical-align: middle !important;
	white-space: pre;
}

body.widedoc #content {
	max-width: 80em !important;
}

@media screen and (max-width: 1350px) {
	body.widedoc #navigation {
		display: none;
	}
	body.widedoc #content {
		margin-left: 1.5em !important;
	}
}

@media screen and (max-width: 1170px) {
	body.widedoc .post-text {
		font-size: 12px;
	}
	body.widedoc #content {
		font-size: 0.8em;
	}
	body.widedoc #group-split-list {
		width: 350px;
	}
	body.widedoc #forum-content input[type="submit"] {
		font-size: 11px;
	}
}

@media screen and (max-width: 1040px) {
	body.widedoc .post-text {
		font-size: 11px;
	}
	body.widedoc #content {
		font-size: 0.7em;
	}
	body.widedoc #group-split-list {
		width: 300px;
	}
}

#keyboardhelp {
	width: auto !important;
	margin: 0 auto;
}
#keyboardhelp td {
	padding-top: 10px;
}
#keyboardhelp td:first-child {
	text-align: right;
	padding-right: 10px;
}
#keyboardhelp td:last-child {
	text-align: left;
}
kbd { /* stolen from http://en.wikipedia.org/wiki/Template:Key_press */
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-bottom-width: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	padding: 1px 3px;
	font-family: inherit;
	font-size: 0.9em;
	white-space: nowrap;

	display: inline-block;
	text-align: center;
	min-width: 1em;
	margin: 0 1px;
	background-color: white;
	font-family: "Arial Unicode MS","Microsoft Sans Serif","Free Sans","Gentium Plus","Gentium Basic","Gentium","GentiumAlt","DejaVu Sans","DejaVu Serif","Free Serif","TITUS Cyberbit Basic","Bitstream Cyberbit","Bitstream CyberBase","Doulos SIL","Code2000","Code2001";
}

/*************** Misc views ***************/

.forum-no-data {
	text-align: center;
}

.forum-table-message {
	text-align: center;
	padding: 50px 0 !important;
}

.forum-table-message pre {
	text-align: left;
	font-size: 8pt;
	margin: 50px 30px 0 30px;
}
