.forum-table {
	line-height: normal;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
}

.forum-table th {
	text-align: center;
}

.forum-index-description, .forum-postsummary-author {
	color: #444;
}

.forum-index-description,
.forum-index-col-lastpost {
	font-size: 10pt;
}

.forum-index-col-threadcount,
.forum-index-col-postcount,
.group-index-col-replies {
	font-size: 10pt;
	text-align: center;
}

.forum-postsummary-time {
	display: block;
	text-align: right;
}

.group-index-col-first {
	width: 70%;
}

.group-index-col-last {
	font-size: 10pt;
	text-align: right;
}

.forum-table {
	border: 2px solid #D0D0D0;
}

.forum-table td,
.forum-table th {
	padding: 4px;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
}

.forum-table td {
}

.forum-index-set-header,
.group-index-header,
.group-index-pager,
.post-header,
.forum-error th {
	background-color: #D0D0D0;
}
.forum-index-set-captions {
	/* border-bottom: 2px solid #CCD5D5; */
}
.forum-index-set-captions th,
.group-index-captions th {
	background-color: #e8e8e8 !important;
}

.forum-table td:nth-child(even), 
.forum-table th:nth-child(even) {
	background-color: #F0F0F0;
}

.forum-no-data {
	text-align: center;
}
.group-index-pager th {
	font-weight: normal;
}
.pager-left {
	float: left;
}
.pager-right {
	float: right;
}
.disabled-link {
	color: #666; /* the color of the beast */
}

.group-index-header > th {
	padding: 0;
}
.group-index-header > th > div {
	position: relative;
	padding: 4px;
}
#new-post-button {
	position: absolute;
	top: 1px;
	right: 1px;
}
#new-post-button input[type=submit] {
	margin: 0;
}

#forum-posts > .post:first-child {
	margin-top: 0;
}

.post {
	margin-top: 10px;
	border-collapse: separate;
}
.post td {
	vertical-align: top;
	text-align: left;
}
.post-header th {
	text-align: left;
}
.post-header a {
	text-decoration: none;
	color: inherit;
}
.post-header a:hover {
	text-decoration: underline;
}
.post td {
	padding: 10px !important;
}
.post-time {
	float: right;
	font-weight: normal;
}
.post-info {
	width: 20%;
	position: relative;
	background-color: #F0F0F0;
	border-bottom: none !important;
	font-size: 9pt;
	word-wrap: break-word;
}
.post-author {
	font-weight: bold;
	font-size: 11pt;
}
.post-gravatar {
	margin-top: 4px;
	border: 5px solid #D0D0D0;
}
.post-info hr {
	border: 1px solid #D0D0D0;
	border-bottom: none;
	margin: 6px 0;
}
.post-info-reply,
.post-info-parts {
	margin-bottom: 12px;
}
.post-info-parts ul {
	padding-left: 12px;
	margin: 0;
}
.post-info-parts li {
	padding: 0 !important;
}
.post-error {
	color: red;
}
.post-toolbar {
	position: absolute;
	bottom: 10px;
}

.post-body {
	overflow: auto;
	position: relative;
	background-color: #F6F6F6 !important;
	border: none !important;
}
.post-body > div {
	position: relative;
	font-family: Consolas, monospace;
	font-size: 14px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.forum-quote {
	color: #706666;
}

.post-nester {
	border-collapse: collapse;
	width: 100%;
}

.post-nester > tbody > tr > td {
	padding: 0;
}

.post-nester-bar {
	position: relative;
	width: 10px;
	vertical-align: top;
}

.post-nester-bar a {
	display: block;
	position: absolute;
	width: 10px;
	/*height: 100%;*/
	top: 0;
	bottom: 0;
	/*background-color: #D0D0D0;*/
	background: url('/images/nestgrad.png');
	border-bottom: 1px solid #D0D0D0;
}

.forum-table-message {
	text-align: center;
	padding: 50px 0 !important;
}

.forum-table-message pre {
	text-align: left;
	font-size: 8pt;
	margin: 30px;
}

.forum-unread,
.forum-unread:visited {
	font-weight: bold;
	color: #333;
}
.forum-read,
.forum-read:visited {
	font-weight: normal;
	color: black;
}

#breadcrumbs {
	color: white;
	position: absolute;
	top: 20px;
	left: 210px;
	font-size: 1.7em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
}

#breadcrumbs a {
	color: inherit;
	text-decoration: none;
}

#breadcrumb1,
#breadcrumb2 {
	color: #ccc;
	font-size: 12pt;
}

#breadcrumb1 {
	margin-left: 20px;
}
#breadcrumb2 {
	margin-left: 40px;
	font-variant: normal;
}

#content {
	position: relative;
}

#forum-tools {
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
	margin-top: -16px;
	color: #666;
}
#forum-tools a {
	color: inherit;
}
