
/*************** style.css overrides ***************/

table, table th {
	border-style: none;
}

div#content {
	line-height: inherit;
	text-align: left;
	min-height: 0;
}

table th, table caption {
	text-align: center;
}

table td {
	text-align: left;
}

table td, table th, table caption {
	vertical-align: inherit;
	padding: 0;
}

h1 {
	margin-bottom: 0.5em;
}

div#footernav {
	clear: none;
}

#cssmenu > ul > li.active.has-sub > a {
	background-color: #622;
}

pre {
	background: inherit;
	border: none;
	padding: 0;
}

table td {
	border-bottom: none;
}

table td:not(:last-child), table th:not(:last-child) {
	padding-right: 0;
}

/*************** Responsive overrides ***************/

@media only screen and (max-width: 50em) {
	div#navigation {
		height: 100%;
		min-height: 100%;
		overflow: auto;
	}

	div#content {
		padding-left: 0;
		padding-right: 0;
		border-left: 0;
		border-right: 0;
		font-size: 75%;
	}

	body #forum-tools {
		margin-right: 1em;
	}

	.forum-form {
		display: block;
		margin: 0 0.5em;
	}

	#forum-index > tbody > tr > *:nth-child(3),
	#forum-index > tbody > tr > *:nth-child(4),
	#forum-index > tbody > tr > *:nth-child(5) { display: none; }

	div#footernav, div#copyright {
		display: none;
	}
}

@media only screen and (max-width: 30em) {
	#forum-content .post > tbody > tr.post-info-horizontal > td.horizontal-post-info {
		display: table-cell !important;
	}
	#forum-content .post > tbody > tr > td.post-info,
	#forum-content .post > tbody > tr:first-child > td:first-child {
		display: none;
	}
	#forum-content .post > tbody > tr:first-child > td:nth-child(2) {
		width: 100%;
	}
}

/*************** General layout ***************/

#top {
	position: relative;
}

#forum-tools {
	float: right;
	font-size: 80%;
	font-style: italic;
	margin: -1em 0 0.25em 0;
	color: #666;
}
#forum-tools a {
	color: inherit;
}

/*************** General rules ***************/

#forum-content {
	position: relative;
}

#forum-content table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

#forum-content table tr.table-fixed-dummy td {
	padding: 0 !important;
	border: 0 !important;
}

#forum-content input[type=submit] {
	margin: 0; /* for Chrome */
}

.temphide {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.avoid-wrap {
	display: inline-block;
}

span.truncated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
}

a span.truncated {
	text-decoration: underline;
}

div.truncated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

/* A forum-table has a gray header and borders */

.forum-table {
	border: 2px solid #D0D0D0;
	table-layout: fixed;
}

.forum-table > tbody > tr > th {
	background-color: #D0D0D0;
}

.forum-table > tbody > tr.subheader > th {
	background-color: #E8E8E8;
}

.forum-table > tbody > tr > td,
.forum-table > tbody > tr > th {
	padding: 0.3em;
	border: 1px solid #D0D0D0;
	overflow: hidden;
}

.number-column {
	text-align: center;
}

.forum-postsummary-author {
	color: #444;
}

#forum-content a img {
	border: none;
}

/* Read/unread messages */

.forum-unread,
.forum-unread:visited {
	font-weight: bold;
}
.forum-read,
.forum-read:visited {
	font-weight: normal;
}

th .forum-unread,
th .forum-unread:visited {
	color: #333;
}
th .forum-read,
th .forum-read:visited {
	color: black;
}

/* Use a thinner font for the split-mode index */

.viewmode-horizontal-split {
	font-family: 'Open Sans', Verdana, 'Deja Vu', 'Bitstream Vera Sans', sans-serif;
}

/* "Create thread" button */

.header-tools {
	position: absolute;
	top: 3px;
	right: 3px;
}

/* Pager */

.pager th {
	font-weight: normal;
}
.pager-left {
	float: left;
}
.pager-right {
	float: right;
}
.disabled-link {
	color: #666;
}

/* Forms */

.forum-form input,
.forum-form textarea {
	max-width: 100%;
	box-sizing: border-box;
}

.forum-form textarea {
	/* We are working relative to the default UA font-size */
	font-size: 120%;
}

.post-form label,
.forum-form input[type=submit] {
	margin-top: 0.75em !important;
	display: block;
}

.form-error {
	border: 2px dotted red;
	color: red;
	padding: 0.75em;
	margin-bottom: 0.75em;
}

/* Notice */

.forum-notice {
	border: 2px solid #E0E0A0;
	background-color: #FFFFD8;
	padding: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}

/* Footer */

div#footernav a {
	white-space: nowrap;
}

/*************** Discussion index ***************/

#forum-index > tbody > tr > td:nth-child(even) {
	background-color: #F0F0F0;
}

#forum-index > tbody > tr > td:nth-child(1) { width: 60%; }
#forum-index > tbody > tr > td:nth-child(2) { width: 40%; }
#forum-index > tbody > tr > td:nth-child(3) { width: 5em; }
#forum-index > tbody > tr > td:nth-child(4) { width: 5em; }
#forum-index > tbody > tr > td:nth-child(5) { width: 6em; }

.forum-index-description {
	color: #444;
}

.forum-index-description,
.forum-index-col-lastpost {
}

.forum-postsummary-time {
	display: block;
	text-align: right;
}

/*************** Group index ***************/

#group-index > tbody > tr > td:nth-child(even) {
	background-color: #F0F0F0;
}

#group-index > tbody > tr > td:nth-child(1) { width: 65%; }
#group-index > tbody > tr > td:nth-child(2) { width: 25%; }
#group-index > tbody > tr > td:nth-child(3) { width: 10%; }

.group-index-col-first {
	width: 70%;
}

.group-index-col-last {
	text-align: right;
}

/*************** Thread view, individual posts ***************/

#forum-content > .post-wrapper:first-child > .post {
	margin-top: 0;
}
.post-wrapper {
	position: relative;
}
.post {
	margin-top: 0.75em;
}

.post > tbody > tr > td {
	vertical-align: top;
	padding: 0.75em;
}

.post > tbody > tr > td:nth-child(1) { width: 10em; }


/* Header */

.post-header > th {
	text-align: left;
}
.post-header a {
	text-decoration: none;
	color: inherit;
}
.post-header a:hover {
	text-decoration: underline;
}
.post-time {
	float: right;
	font-weight: normal;
}

/* Horizontal info (responsive view) */

#forum-content .post > tbody > tr.post-info-horizontal > td.horizontal-post-info {
	display: none;
	font-size: 100%;
	padding: 0;
}

#forum-content .post > tbody > tr.post-info-horizontal > td.horizontal-post-info a img.post-gravatar {
	border-width: 3px;
	margin-right: 0.5em;
}

.post-info-horizontal .horizontal-post-info-actions {
	padding: 0.5em;
}

/* Info */

.post-info {
	width: 20%;
	background-color: #F0F0F0;
	font-size: 85%;
	word-wrap: break-word;
}
.post-author {
	font-weight: bold;
	font-size: 130%;
}
#forum-content a img.post-gravatar {
	margin-top: 0.35em;
	border: 5px solid #D0D0D0;
}
.post-info > hr {
	border: 1px solid #D0D0D0;
	border-bottom: none;
	margin: 0.5em 0;
}
.post-info-bit {
	margin-bottom: 1em;
}
ul.post-info-parts {
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
}
.post-actions {
	position: absolute;
	bottom: 1em;
}
.actionlink {
	display: block;
	white-space: pre;
}
.actionlink img {
	vertical-align: middle;
	margin-right: 5px;
}

/* Body */

.post-error {
	color: red;
}
.post-text {
	margin: 0;
	font-family: Consolas, monospace;
	font-size: 1em;
	white-space: pre; /* old browser compat */
	white-space: pre-wrap;
	word-wrap: break-word;
}

.forum-quote {
	color: #706666;
}

.forcewrap {
	word-break: break-all;
}

/* Threading */

.post-nester {
	border-collapse: collapse;
	width: 100%;
}

.post-nester > tbody > tr > td {
	padding: 0;
}

.post-nester-bar {
	position: relative;
	width: 10px;
	vertical-align: top;

	background: url('/images/nestgrad.png');
}

.post-nester-bar a {
	display: block;
	position: absolute;
	width: 10px;

	top: 0;
	bottom: 0;
	border-bottom: 1px solid #D0D0D0;
}

/* Pager */

.post-pager {
	margin-top: 10px;
}

/*************** Threaded group view ***************/

.forum-table > tbody > tr > td.group-threads-cell {
	padding: 2px 0 0 0;
}

#group-index-threaded > tbody > tr > th { width: 100%; }

.group-threads > table {
	width: 100%;
}
.group-threads > table > tbody > tr > td {
	border-bottom: none;
	padding-bottom: 1px;
	padding-left: 2px !important;
	padding-right: 2px;
}
.thread-start {
	border: 2px solid #D0D0D0;
	margin-bottom: 1px;
}
.thread-start > tbody > tr > th {
	background-color: #D0D0D0;
}
.thread-start > tbody > tr > td > div {
	padding-right: 2px;
}

.thread-start > tbody > tr:nth-child(odd) {
	background-color: #F6F6F6;
}
.thread-start > tbody > tr:nth-child(even) {
	background-color: white;
}
.thread-start td {
	text-align: left;
}
.thread-post-time {
	float: right;
}

.thread-post-focused > td > div {
/*
	outline: 1px dotted #45F !important;
*/
	outline: 1px solid #89F !important;
	background-color: #EEF;
}

.thread-post-selected > td > div {
	background-color: #45F;
	color: white;
}

.thread-post-selected a {
	color: inherit;
}

.thread-post-selected .thread-post-time span {
	color: inherit !important;
}

#thread-index {
	margin-top: 20px;
}

table.viewmode-threaded > tbody > tr > th {
	width: 100%;
}

/*************** Split view ***************/

#group-split {
	table-layout: fixed;
}
#group-split-list {
	width: 25em;
	vertical-align: top;
}
#group-split-list > div {
	position: relative;
}

#group-split-message {
	padding-left: 4px;
	vertical-align: top;
	overflow: auto;
}

#group-split-message .nojs {
	margin-top: 10px;
}

.viewmode-horizontal-split .group-threads {
	height: 400px;
	overflow: auto;
}

.split-post {
	table-layout: fixed;
}

.split-post .post-body {
	padding: 10px;
}

.split-post .post-text {
	overflow: auto;
}

.split-post {
}

.horizontal-post-info-avatar {
	padding-left: 5px;
	padding-bottom: 2px;
	border-right: none !important;
	width: 1px;
}

.horizontal-post-info {
	border-left: none !important;
	background-color: #E8E8E8;
	font-size: 0.9em;
}

table td.horizontal-post-info-name {
	text-align: right;
	font-weight: bold;
	padding: 0 10px;
	white-space: pre;
}

.horizontal-post-info .forum-unread {
	/* this just looks confusing and distracting */
	font-weight: inherit;
}

.horizontal-post-info-actions {
	vertical-align: bottom;
	text-align: right;
}

.group-split-message-none {
	text-align: center;
	vertical-align: middle !important;
	white-space: pre;
}

body.widedoc #content,
body.widedoc #top {
	max-width: none !important;
}

#keyboardhelp {
	width: auto !important;
	margin: 0 auto;
}
#keyboardhelp td {
	padding-top: 10px;
}
#keyboardhelp td:first-child {
	text-align: right;
	padding-right: 10px;
}
#keyboardhelp td:last-child {
	text-align: left;
}
kbd { /* stolen from http://en.wikipedia.org/wiki/Template:Key_press */
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	border-bottom-width: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	padding: 1px 3px;
	font-family: inherit;
	font-size: 0.9em;
	white-space: nowrap;

	display: inline-block;
	text-align: center;
	min-width: 1em;
	margin: 0 1px;
	background-color: white;
	font-family: "Arial Unicode MS","Microsoft Sans Serif","Free Sans","Gentium Plus","Gentium Basic","Gentium","GentiumAlt","DejaVu Sans","DejaVu Serif","Free Serif","TITUS Cyberbit Basic","Bitstream Cyberbit","Bitstream CyberBase","Doulos SIL","Code2000","Code2001";
}

/*************** Posting ***************/

#postform-captcha {
	margin-top: 10px;
}

.formdoc #content {
/*
	display: inline-block;
	margin-left: 0 !important;
*/
}

/*************** Login ***************/

.loginform {
	width: 320px;
	margin: 70px auto 0 auto;
}

.loginform-error {
	margin: 0 !important;
}

.loginform-cell {
	padding: 30px 80px !important;
}

.loginform-info {
	text-align: center;
}

/*************** Misc views ***************/

.forum-no-data {
	text-align: center;
}

.forum-table-message {
	text-align: center;
	padding: 50px 0 !important;
}

.forum-table-message pre {
	text-align: left;
	font-size: 8pt;
	margin: 50px 30px 0 30px;
}

/*************** Frame view ***************/

body.frame {
	font-size: 90%;
	background: #1F252B;
}

body.frame > div, body.frame #forum-tools {
	display: none;
}

body.frame > div#content {
	display: block;
	margin: 0;
	max-width: none;
	border: 0;
	padding: 0;
	background: none;
	min-height: 0;
	font:normal normal normal 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
}

body.frame .forum-table > tbody {
	display: block;
	max-height: 162px;
	overflow-y: auto;
}
body.frame .forum-table > tbody,
body.frame .forum-table > tbody > tr,
body.frame .forum-table > tbody > tr > td {
	/* HACK */
	width: 249px;
}
body.frame .forum-table > thead > tr > th,
body.frame .forum-table > tbody > tr > td,
body.frame .forum-table {
	border: 1px solid #444;
	background: none;
}
body.frame .forum-table > thead > tr > th,
body.frame .forum-table > tbody > tr > td {
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
body.frame .forum-table > thead > tr > th {
	font-size: 14px; /* copy Twitter CSS */
	text-align: left;
	padding: 10px;
}
body.frame .forum-table > thead > tr > th .feed-icon {
	display: block;
	float: right;
}

body.frame #forum-content table.forum-table {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-collapse: separate;
	background-color: #333;
	color: #A0A0A0;
}

body.frame a {
	color: #CFCFCF;
	text-decoration: none;
}

body.frame .forum-postsummary-subject {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
	width: 180px;
}

body.frame .forum-postsummary-author {
	color: #CFCFCF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
	max-width: 100px;
}

body.frame div.forum-postsummary-info {
	display: block;
	float: right;
	color: #A0A0A0;
}

body.frame .forum-unread {
	font-weight: 600;
}

body.frame .forum-postsummary-gravatar {
	float: left;
}

body.frame .post-gravatar {
/*
	border: 2px solid #444 !important;
	margin: -2px 5px -2px 0;
*/
	border: 0 !important;
	margin: 0 5px 0 0;
	width: 32px;
	height: 32px;
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
