.forum-table {
	line-height: normal;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

.forum-table th {
	text-align: center;
}

.forum-index-description, .forum-postsummary-author {
	color: #444;
}

.forum-index-description,
.forum-index-col-lastpost {
	font-size: 10pt;
}

.forum-index-col-threadcount,
.forum-index-col-postcount,
.group-index-col-replies {
	font-size: 10pt;
	text-align: center;
}

.forum-postsummary-time {
	display: block;
	text-align: right;
}

.group-index-col-first {
	width: 70%;
}

.group-index-col-last {
	font-size: 10pt;
	text-align: right;
}

.forum-table {
	border: 2px solid #D0D0D0;
}

.forum-table td,
.forum-table th {
	padding: 4px;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
}

.forum-table td {
}

.forum-index-set-header,
.group-index-header,
.group-index-pager,
.post-header {
	background-color: #D0D0D0;
}
.forum-index-set-captions {
	/* border-bottom: 2px solid #CCD5D5; */
}

.forum-table td:nth-child(even), 
.forum-table th:nth-child(even),
.post td:nth-child(odd) {
	background-color: #F0F0F0;
}

.post td:nth-child(even) {
	background-color: inherit;
}

.forum-no-data {
	text-align: center;
}
.group-index-pager th {
	font-weight: normal;
}
.pager-left {
	float: left;
}
.pager-right {
	float: right;
}
.disabled-link {
	color: #666;
}

.group-index-header > th {
	padding: 0;
}
.group-index-header > th > div {
	position: relative;
	padding: 4px;
}
#new-post-button {
	position: absolute;
	top: 1px;
	right: 1px;
}
#new-post-button input[type=submit] {
	margin: 0;
}

.post {
	table-layout: fixed;
}
.post td {
	vertical-align: top;
	text-align: left;
}
.post-info {
	width: 150px;
}
.post-body {
	overflow: auto;
	width: 300px;
}
.post-body > div {
	font-family: monospace;
	white-space: pre;
	width: auto;
}
