
body
{
	background: white;
}

pre
{
	overflow: visible;
	overflow-X: hidden;
}

#search-box, #header, #navigation, #lastupdate, #tools, #google_ad, #footernav, #copyright
{
	display: none;
}

div#content
{
	background: white;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 12pt;
}
