body
{
    text-align: justify;
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	background-color: #1f252b;
	background-image: url(../images/gradient-red.jpg);
	background-repeat: no-repeat;
	font-size: 100%;
	font-family: Verdana, "Deja Vu", "Bitstream Vera Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #633;
	line-height: normal;
	text-align: left;
}

h1
{
	margin-top: 0;
	font-size: 2.5em;
}

h2
{
	font-size: 1.7em;
}

h3
{
	font-size: 1.35em;
}

h4
{
	font-size: 1.15em;
	font-style: italic;
	margin-bottom: 0;
}

form
{
	margin: 0;
}

blockquote
{
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #e5e5e5;
	display: block;
	padding: 0.25em 1em;
	margin: 1em 2em;
}

blockquote p:before
{
	content: "\201C";
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #bacaca;
	display: block;
	font-size: 700%;
	width: 50px;
	height: 0;
	margin-left: -0.5em;
	line-height: 0.8em;
}

blockquote p
{
	margin: 0;
	font-style: italic;
}

blockquote cite
{
	display: block;
	text-align: right;
}

pre
{
	background: white;
	padding: 1ex;
	margin: 1em 0 1em 3em;
	font-family: monospace;
	font-size: 1.2em;
	line-height: normal;
	border: 1px solid #ccc;
	width: auto;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

dd
{
	padding: 1ex;
	margin-left: 3em;
	margin-bottom: 1em;
}

table, tr, td, th
{
	/*border-style: solid;*/
}

td
{
	text-align: justify;
}

hr
{
	margin: 2em 0;
}

a
{
	color: #006;
}

a:visited
{
	color: #606;
}

/* These are different kinds of <pre> sections */
.bnf /* grammar */
{
	background-color: white;
	color: #000066;
}

.ddoccode
{
	background-color: #f3eeee;
	color: #000066;
}

.console /* command line console */
{
	background-color: #f7f7f7;
	color: #181818;
}

.moddeffile /* module definition file */
{
	background-color: #efeffe;
	color: #010199;
}

.scini /* sc.ini configuration file */
{
	background-color: #fef6fe;
	color: #111199;
}

.d_code /* D code */
{
	background-color: #fcfcfc;
	color: #000066;
}

.d_code2 /* D code */
{
	background-color: #fcfcfc;
	color: #000066;
}

.asmcode /* Asm code */
{
	background-color: #afcbde;
	color: #000066;
}

.ccode /* C code */
{
	background-color: #f6ecf0;
	color: #000066;
}

.cppcode /* C++ code */
{
	background-color: #f6ecf0;
	color: #000066;
}

.cppcode2 /* C++ code */
{
	background-color: #f6ecf0;
	color: #000066;
}

td .d_code2, td .cppcode2, td .cppcode
{
	min-width: 20em;
	margin: 1em 0em;
}

.d_inlinecode
{
	font-family: monospace;
	/* font-size: 1.2em; */
	font-weight: bold;
}

/* Elements of D source code text */
.d_comment { color: green; }
.d_string { color: red; }
.d_keyword { color: blue; }
.d_psymbol { text-decoration: underline; }
.d_param { font-style: italic; }

/* Focal symbol that is being documented */
.ddoc_psymbol { color: #336600; }

div#top
{
	max-width: 85em;
}

div#header
{
    padding: 0.2em 1em 0.2em 1em;
}

img#logo
{
	vertical-align: bottom;
}

/*div#d-language a*/
#d-language
{
	color: white;
	font-size: 1.7em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
	text-decoration: none;
}

div#search-box
{
	background-color: transparent;
	float: right;
	margin-top: 2em;
	margin-right: 1.6em;
	text-align: right;
}

div#search-box img, div#search-box input, div#search-box select
{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

div#search-box input#q
{
	border: 0px;
	height: 22px;
	background-image: url(../images/search-bg.gif);
	color: black;
}

div#search-box input#q:focus
{
	outline: none;
}


div#navigation
{
	font-size: 0.875em;
	float: left;
	width: 11.5em;
	padding: 0 1.5em;
}

div.navblock
{
	margin-top: 0;
	margin-bottom: 1em;
}

div#navigation .navblock h2
{
	font-family: Verdana, "Deja Vu", "Bitstream Vera Sans", sans-serif;
	font-size: 1.35em;
	color: #ccc;
	margin: 0;
}

div#navigation .navblock ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#navigation .navblock li
{
	margin: 0 0 0 0.8em;
	padding: 0;
}

#navigation .navblock a
{
	display: block;
	color: #ccc;
	text-decoration: none;
	padding: 0.1em 0;
	border-bottom: 1px dotted #494949;
}

#navigation .navblock a:hover
{
	color: #eee;
}

#navigation .navblock a.active
{
	color: white;
	border-color: white;
}


div#translate
{
	margin-top: 3em;
	margin-left: 0;
	color: #ccc;
}


div#tools
{
	margin: -1.5em;
	margin-bottom: 0;
	text-align: right;
}

div#tools span
{
	padding-left: 0.5em;
	font-size: 0.8em;
	font-style: italic;
	color: #666;
}

div#tools a
{
	color: #666;
}

div#tools img
{
	vertical-align: middle;
}


div#content
{
	min-height: 440px;
	max-width: 76em;
	margin-left: 15em;
	margin-right: 1.6em;
	padding: 1.6em;
	padding-top: 1.3em;
	border: 0.6em solid #ccd5d5;
	background-color: #f6f6f6;
	font-size: 0.875em;
	line-height: 1.4em;
	text-align: justify;
}

div#content li
{
	padding-bottom: .7ex;
}


div#google_ad
{
	margin-top: 6em;
}


div#footernav
{
    clear: both;
	margin-top: 2em;
	padding: 1em 2em 0 2em;
	background-color: #303333;
	color: #666;
	text-align: center;
}

div#footernav a
{
	color: #ccc;
}

div#footernav a:hover
{
	color: white;
}


div#copyright
{
	padding: 1em 2em;
	background-color: #303333;
	color: #ccc;
	font-size: 0.75em;
	text-align: center;
}

div#copyright a
{
	color: #ccc;
}


/* These are for the newsgroup archives */
div#newsnav
{
	margin-top: -1.5em;
	margin-bottom: -1em;
}
div#Posting
{
	border: 1px solid #cccccc;
	margin-bottom: 1em;
}
div#PostingHeading
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: larger;
	color: #633;
	background-color: #eeeeee;
}
div#PostingHeading img
{
	vertical-align: middle;
}
div#PostingHeading a
{
	text-decoration: none;
}
div#PostingFooting
{
	font-size: smaller;
	background-color: #eeeeee;
}
div#PostingTOC
{
	font-size: smaller;
}
div#PostingTOC li
{
	margin-left: 0;
}
div#PostingTOC a
{
	font-family: Georgia, "Times New Roman", Times, serif;
}
.PostingBody /* newsgroup posting */
{
	border: 0;
	margin: 0;
	background-color: #fcfcfc;
	color: #000066;
	margin-left: 0em;
	min-width: 15em;
	padding-bottom: 0.5em;
}
.PostingQuote /* quote inside newsgroup posting */
{
	border: 1px solid #666666;
	font-size: 90%;
	background-color: inherit;
	color: #666666;
	margin-left: 0em;
	min-width: 15em;
}

/* These are for the changelogs */
div#version
{
	border-top: 1px solid black;
	font-size: 0.9em;
	padding-top: 2ex;
}
div#version font
{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #633;
}
div#version li
{
	padding-bottom: 0.3ex;
}
div#bugsfixed
{
}
div#whatsnew
{
}


/* These are for comparison.html */
table.comp /* "comparison with D": table */
{
	background-color:#e9e6dd;
}
table.comp a
{
	color: black;
}
td.compNo  /* comparison with D: "NO" */
{
	background-color:red;
	text-align:center;
}
td.compYes  /* comparison with D: "YES" */
{
	background-color:#00FF00;
	text-align:center;
}

TABLE.book
{
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-spacing: 1pt;
}

TABLE.book TD
{
    padding: 1pt 12pt 1pt 1pt;
    vertical-align: top;
    border-bottom: 1px solid #E4E9EF;
}

TABLE.book TH
{
    border-bottom: 1px solid;
    padding: 1pt 12pt 1pt 1pt;
    vertical-align: top;
}

TABLE.book CAPTION
{
    width: auto;
    text-align: left;
}

.leadingrow {
    background-color: #E4E9EF;
    font-size: 110%;
}

.d_inlinecode
{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Andale Mono", "Monaco", "DejaVu Sans Mono", "Lucida Console", "monospace";
    /* font-size: 105%; */
    /* font-weight: bold; */
    /*color: #000010; */
}

.d_decl {
    font-weight: bold;
    background-color: #E4E9EF;
    /* border-top: solid black 1px; */
    border-bottom: solid 2px #336600;
    padding: 2px 0px 2px 2px;
}

